@font-face{
    font-family: EmojiSymbols;
    src: url('./font/EmojiSymbols-Regular.woff');
}

body{
    font-size: 28px;
    background-color: gray;
}

table{
    font-family: EmojiSymbols;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 28px;
}

th{
    font-size: 24px;
}

th, td {
    border: 1px solid lightgray;
    margin:0;
    padding:0.5em;
    min-width: 1em;
}

tr td:not(:first-child){
    /*max-width: 1em;*/
}

td:last-child{
    text-align: center;
    padding:0
}

button{
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: transparent;
    border: 1px solid black;
    border-radius:5px;
    cursor: pointer;
    text-align: center;
    margin: 20px 0 30px 0;
}

#active {
    border: 1px solid black;
}

#redPin,#greenPin,#bluePin,#yellowPin{
    padding:0;
    margin: 0;
    cursor: move;
}

correctPos, correctCol, notCorrect{
    display: inline-block;
    padding:0;
    margin: 0;
    min-width: 28px;
    max-width: 28px;
    max-height: 28px;
}

correctPos{
    color: red;
}

correctCol{
    color: white;
}

.red{
    color: red;
}

.green{
    color:green; 
}

.blue{
    color:blue;
}

.yellow{
    color:yellow;
}

.white{
    color:white;
}

#contains {
    color: gray;
}

#correct{
    color:red;
}