@font-face{
    font-family: EmojiSymbols;
    src: url('./font/EmojiSymbols-Regular.woff');
}

body{
    font-size: 28px;
    background-color: gray;
    font-family: EmojiSymbols;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 75%;
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
}

th{
    font-size: 24px;
}

th, td {
    border: 1px solid lightgray;
    text-align: center;
    margin:0;
    min-width: 1em;
    height: 2.5em;
}

tr td:not(:first-child){
    /*max-width: 1em;*/
    
}

td:last-child{
    text-align: center;
    padding:0
}

button{
    text-decoration: none;
    color: black;
    /*padding: 0px;*/
    width: 50%;
    height: 5em;
    border-radius:2.5em;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    margin: auto;
    display: block;
}

#active {
    border: 1px solid black;
}

correctPos, correctCol, notCorrect{
    display: inline-block;
    padding:0;
    margin: 0;
    min-width: 28px;
    max-width: 28px;
    min-height: 28px;
    max-height: 28px;
}

correctPos{
    color: red;
}

correctCol{
    color: white;
}

.pin{
    cursor: move;
    border: 1px solid black;
    border-radius: 25%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
}

.drag{
    display: flex;
    justify-content: center;
}

.red{
    color: red;
}

.green{
    color:green; 
}

.blue{
    color:blue;
}

.yellow{
    color:yellow;
}

.white{
    color:white;
}

#contains {
    color: gray;
}

#correct{
    color:red;
}